* {
	box-sizing: border-box;
}

:root {
	--mainColor: black;
	--textColor: white;
	--accentColor: white;
	--uiColor: black;

	--fontFamilyCode: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
		monospace;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--mainColor, black);
	color: var(--textColor, white);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	margin: 0;
	transition: all 200ms linear;
}
